.body {
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 1s;
	cursor: pointer;
}
.body{
	color: black;
	border: 2px solid	#00FF00;
}
.body:hover{
	background-color: #00FF00;
	color: black;
}
#guessRows div div.wlwp, .wlwp{
	background-color: #A9A9A9;
}
#guessRows div div.rlwp, .rlwp {
	background-color: #FFFF00;
}
#guessRows div div.rlrp, .rlrp {
	background-color: #32CD32;
}
#guessRows div div{
	width: 2px;
	height: 25px;
	border: 1px solid #888888;
	color: black;
	background-color: white;
	padding: 16px 32px;
	vertical-align: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	margin: 4px;
	transition-duration: 1s;
	cursor: pointer;
}
#Keyboard div button{
	width: 30px;
	height: 50px;
	border: 1px solid #888888;
	color: black;
	padding: 16px 32px;
	vertical-align: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Arial;
	transition-duration: 1s;
	cursor: pointer;
}
